@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Dancing+Script:wght@600;700&family=Edu+VIC+WA+NT+Beginner:wght@600&family=Expletus+Sans:wght@600&family=Great+Vibes&family=Indie+Flower&family=Lobster&family=Lobster+Two:ital@1&family=Sansita+Swashed:wght@300&family=Source+Code+Pro:ital,wght@1,200&display=swap');

body{
    background-color: #E9ECEF;
}

.navbar-brand{
    
    font-family: 'Expletus Sans', cursive;
}
 
.nav-item{
    list-style-type: none;
        
            
}

 ul li a{
    text-decoration: none;
    font-size: 25px;
    margin-right: 50px;
                
}

.jumbatron{
    text-align: center;
}

h1{
    color: rgb(113, 39, 113);
    text-align: center;
    font-family: 'Expletus Sans', cursive;
    
    
}

ul li{
    list-style-type: none;
    font-size: 24px;
    /* margin-top: 15px; */
}

h2{
    color: rgb(113, 39, 113);
    text-align: center;
    font-family: 'Expletus Sans', cursive;
    

}

img{
    width: 400px;
    height: 350px;
    /* display: block; */
    
}

p{
    color: rgb(113, 39, 113);
    text-align: center;   
    font-size: 25px;
}

h3{
    color: rgb(113, 39, 113);

}

span{
    background-color: rgb(69, 65, 65);
    color: white;
    font-size: 25px ;
    padding: 1px;
    border-radius: 5%;
    
}




